.sign-in{
    width:30vw;
    display: flex;
    flex-direction: column;
    .title{
        margin: 10px 0;
    }
    .button-section{
        width:100%;
        display: flex;
        justify-content: space-between;
        gap:5px;
    }
}